@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Over+the+Rainbow&display=swap');

body {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: black;
  font-family: "Raleway" , sans-serif;
  font-weight: bold;
}

button {
  font-family: "Raleway" , sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.bienvenida {
  text-align: center;
}

.texto1{
  font-size: 50px;
  text-align: center;
  margin: 120px;
  color: #ffffff;
}


.botonBienvenida {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.botonBienvenida:hover{
  border-color: rgb(131, 70, 180);
  background-color: rgb(131, 70, 180);
  color: white;
  cursor: pointer;
}


p{
  font-family: "Raleway" , sans-serif;
  font-size: 25px;
  margin: 1.5%;
}

nav{
  background-color: blueviolet;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.navEmpresa {
  font-size: 50px;
  font-style: bold;
  text-align: left;
  margin: 10px;
  

}
/* navegador fijo */

.pagInfo{
  top: 10%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.h1 , .h2 , .h3 , .h4 , .h5{
  font-family: 'Raleway', cursive;
  font-size: 25px;
  margin: 1.5%;
}

.pagInfo, .pagInfoVJ{
  display: none;
}



.infoVideojuego{
  width: 200px;
  height: 70px;
  border-radius: 5px;
  border-color: white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.infoEmpresa{
  width: 200px;
  height: 70px;
  border-radius: 5px;
  border-color: white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.infoEmpresa:hover{
  border-color: rgb(131, 70, 180);
  background-color: rgb(131, 70, 180);
  color: white;
  cursor: pointer;
}

.infoVideojuego:hover{
  border-color: rgb(131, 70, 180);
  background-color: rgb(131, 70, 180);
  color: white;
  cursor: pointer;
}

.final{
  padding:10px;
}

.cartas1, .cartas2{
  margin:100px;
}

.imagenCards{
  width:200px;
  height:170px;
}

